prune openpyxl/sample
prune openpyxl/benchmarks
prune openpyxl/develop
prune scratchpad
prune doc

include *.rst
include README.md
include CONTRIBUTING.md
include FIXTURE-REQUESTS.md
include doc/paper.rst
